<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Log Analyzer</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <h1>VRV Assignment</h1>
            </a>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>Log Analyzer</h1>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="logfile">Upload Log File</label>
                <input type="file" name="logfile" id="logfile">
                <button type="submit">Upload and Analyze</button>
            </form>
            <hr>
            <form action="/generate" method="post">
                <button type="submit">Generate Random Log File</button>
            </form>
        </div>
    </main>
</body>

</html>