<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Preview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <h1>VRV Assignment</h1>
            </a>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>Log File Preview</h1>
            <form action="{{ url_for('analyze', filepath=filepath) }}" method="get">
                <button type="submit" class="btn">Analyze Log</button>
            </form>
            <div class="log-preview">
                <pre>{{ log_content }}</pre>
            </div>
            <form action="{{ url_for('analyze', filepath=filepath) }}" method="get">
                <button type="submit" class="btn">Analyze Log</button>
            </form>
        </div>
    </main>
</body>

</html>